
:global(#aboutme) {
  scroll-margin-top: 120px; /* 헤더 높이에 맞게 조절 */
}

.aboutMe{
    width: 60%;
    margin: 100px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.item h3 {
    display: inline-block;
    margin-right: 5px;
    font-weight: 500;
}

.item p {
    display: inline-block;
    flex-direction: column;
    margin: 0;
}