.wrap{
    width: 1200px;
    margin: 50px auto;
    margin-bottom: 200px;
}

.wrap > h1 {
    margin-left: 60px;
    
}

:global(#blog) {
  scroll-margin-top: 120px; /* 헤더 높이에 맞게 조절 */
}

.blogImage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.blogImage:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

.projectGoWrap{
    position: absolute;
    right: 0px;
    bottom: 5px;
    z-index: 10;
}

.projectGo{
    padding: 8px 14px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'GowoonDodum', sans-serif;
    text-decoration: none;
    
    color: #333;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.projectGo:hover{
    transform: scale(1.05);
}

.projectGo:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}