.footer{
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background-color: #2d2d2d;
    color: white;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    margin-left: 100px;
}

.padding{
    padding-left: 5%;
}

.information, .contacts{
    list-style: none;
    padding: 0;
    margin: 0;
}

.information{
    font-size: 15px;
}

.contacts li svg {
    margin-right: 8px;
    min-width: 20px;
}

.copyright{
   background-color: #2d2d2d;
   color: gray;
   text-align: center;
   padding: 20px 0;
}

.copyright hr {
    border: none;
    border-top: 1px solid gray;
    margin: 10px 0;
}

.copyright p{
    margin: 25px 0 0 0;
    font-size: 10px;
    
}