.wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    gap: 10%;
    margin-left: 20%;
    margin-bottom: 200px;
}

.leftBlock {
    gap: 0;
}

.mainTitle{
    padding-left: 0;
    flex: 1 1 300px;
    font-size: 30px;
}

.mainTitle > h1 {
    margin: 0;
    line-height: 1; /*줄 간격 최소화*/
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.buttons button{
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;

    /* 부드러운 애니메이션 */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* 마우스 올렸을 때 살짝 커지기 */
.buttons button:hover {
    transform: scale(1.05);
}

/* 클릭 시 눌리는 효과 */
.buttons button:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* 안쪽 그림자 추가*/
}

.projectDemo{
    margin-top: 25%;
    font-size: 25px;
    color: #d3d3d3;
}

.projectDemo .slash {
    margin: 0 50px; /* 앞뒤로 띄우기 */
}

.mainImage{
    flex: 0 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease, filter 0.3s ease;
}

.mainImage:hover {
    transform: scale(1.01);
}

.mainImage img {
    display: block;
}

.projectGoWrap{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}

.projectGo{
   padding: 8px 14px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'GowoonDodum', sans-serif;
    text-decoration: none;
    
    color: #333;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.projectGo:hover{
    transform: scale(1.05);
}

.projectGo:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upArrow button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 32px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
}

.upArrow button:hover {
    background-color: #555;
    transform: scale(1.1);
}