.wrap{
    width: 80%;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 200px;
}

.wrap > h1 {
    margin: 0 0 20px 0;
    padding: 0;
}


:global(#skills) {
  scroll-margin-top: 120px; /* 헤더 높이에 맞게 조절 */
}

.boxContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;
}

.images{
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.image:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 5%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icons :global(svg){
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.icons :global(svg:hover){
    transform: scale(1.2) rotate(10deg);
    color: #f39c12;
}